* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
}

.navbar {
    padding: 15px 25px !important;
    background-color: #00a041;
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.links {
    display: flex;
    gap: 15px;
}

.content {
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #00a041 !important;
    color: white !important;
    width: 80%;
    max-width: 500px;
    min-height: 300px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: white !important;
    color: #00a041 !important;
    border: 1px solid #00a041 !important;
    width: 20%;
    min-width: 70px;
}