<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'view_products_app/css/show_one.css' %}">
    <script src="{% static 'view_products_app/js/show_one.js' %}" defer></script> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>{{product.product_name}} | conbini</title>
</head>
<body>
    <div class="navbar">
        <div class="navbar-content">
            <div class="logo">
                <h4 id="logo">conbini・コンビニ</h4>
            </div>
            <div class="cart">
                <a href="/cart">shopping cart</a>
                <div class="cart_items">
                    <p>(</p><p id="cart">{{cart}}</p><p>)</p>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="content-left">
            <div class="images">
                {% for image in product.images.all %}
                    <div class="card">
                        <img src="/media/{{image.image}}" alt="{{product.product_name}} Image">
                    </div>
                {% endfor %}
            </div>
            <div class="product_info">
                <div class="product_details">
                    <h5>{{product.product_name}}</h5>
                    <h6>${{product.price}}</h6>
                    <p>{{product.desc}}</p>
                    <p class="hidden" id="product_id">{{product.id}}</p>
                </div>
                <form method="post" action="/cart/add/{{product.id}}" id="addToCartForm">
                    <div id="addToCartErrors"></div>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <select class="form-select" name="quantity" id="quantity">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                    <input type="submit" class="btn btn-primary add_to_cart" value="Add to Cart">
                </form>
            </div>
        </div>
        <div class="content-right">
            <div id="successMessage" role="alert" class="fade-in"></div>
        </div>
    </div>
</body>
</html>